body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.speed-label {
  margin-top: 9px;
} 

.speed-slider {
  margin-top: 10px;
  margin-left: 10px;
} 

.outermost-container {
  position: absolute;
  margin-top: 30px;
  width: 100%;
  height: 100%;
  display: grid;

}

.compare {
  grid-template-columns: 50% 50%;
}

.bar-container {
  position: relative;
  margin: 0.2px;
}

.bar {
  position: absolute;
  width: 0.5vw;
  background-color: aqua;
  margin: 0 1px;
}

